
@media (max-width: 1024px) {

   /*  --- START -  1024 > COMMON STYLE CONF. */

   .container {
      padding: 0;
      padding: 0 100px;
   }

   /*  --- END -- 1024 -- COMMON STYLE CONF. */
      /*  --- START - 1024 > HEADER SEC. */

   .header-wrapper {
      padding: 0;
      padding-top: 30px;

      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   .header-logo__img {
      width: 113px;
      height: 14px;
   }

   .header-nav {
      padding-top: 27px;
      width: 100%;

      order: 3;
   }

   .header-list {
      padding: 20px 0;

      justify-content: space-between;
      overflow-y: hidden;

      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;
   }

   .header-item__link {
      font-size: 20px;
   }

   .header .header-list__item {
      margin: 0;
   }

   /*  --- END -- 1024 -- HEADER SEC. */
      /*  --- START -- 1024 -- HERO SEC. */

   .hero-wrapper::after {
      background-size: 258px 277px;
   }

   .hero-offset {
      padding: 0;
      padding-top: 90px;
      padding-bottom: 90px;
   }

   .hero__title {
      max-width: 539px;
      margin-bottom: 17px;
   }

   .hero__paragraph {
      max-width: 539px;
      margin-bottom: 20px;
   }

   /*  --- END -- 1024 -- HERO SEC. */
      /*  --- START -- 1024 -- PODCAST SEC. */

   .podcasts-list-item-right-wrapper {
      padding: 0;
      padding: 40px 0 40px 30px;
   }

   /*  --- END -- 1024 -- PODCAST SEC. */
      /*  --- START -- 1024 -- TVSHOWS SEC. */

   .tvshows-list-item {
      flex: 1 1 calc((100% - 30px) / 2);
   }

   /*  --- END -- 1024 -- HERO SEC. */
      /*  --- START --  1024 -- GUESTS SEC. */

   .guests-article-descr {
      margin: 0;
      margin-bottom: 30px;
   }

   .guests__descr {
      max-width: 530px;
   }

   /*  --- END -- 1024 -- GUESTS SEC. */
      /*  --- START --  1024 -- PLAYLISTS SEC. */

   .playlists-wrapper {
      flex-direction: column;
   }

   .playlists-list-item {
      min-height: fit-content;
      display: flex;
      flex-direction: row;
   }

   .playlists-item-content {
      padding: 0;
      padding: 35px 5px 5px 5px;
   }

   .playlists-left-side {
      margin: 0;
      flex: 1 1;
   }

   .playlists-left-side {
      margin-bottom: 30px;
   }

   .playlists__list {
      margin: 0;
   }

   .playlists-list-item {
      flex: 1 1 calc((100% - 30px) / 3);
      max-width: calc((96% - 30px) / 3);
   }

   .playlists-item-content {
      padding: 0;
      padding: 35px 5px 5px 5px;
   }

   /*  --- END -- 1024 -- PLAYLISTS SEC. */
      /*  --- START-- 1024 -- MARKET SEC. */

   .market-left-side {
      align-self: center;

      background-position: center 83px;
   }

   .market-right-side {
      max-width: 396px;
   }

   .market-right-side::after {
      top: 109px;
      left: 0;
   }

   .market-right-side span {
      margin-bottom: 30px;
   }

   /*  --- END -- 1024 -- MARKET SEC. */
      /*  --- START-- 1024 -- ABOUT-US SEC. */

   .about-us__title {
      margin: 0;
      margin-bottom: 14px;
   }

   .about-us-top-content {
      max-width: 539px;
   }

   .about-us-top__content b {
      margin-bottom: 11px;
   }

   .about-us-top-wrapper::after {
      top: -25px;
      right: -95px;

      background-image: url('../assets/imgs/about-us-1024px-spirals.png');
      background-repeat: no-repeat;
      background-size: contain;
   }

   .about-us__item {
      flex: 0 1 ((100% - 60px) / 2);
      width: calc((100% - 60px) / 2);
   }

   .about-us__item {
      margin: 0;
      margin-right: 30px;
  }

   .about-us__item:nth-child(-n+2) {
      margin-bottom: 30px;
   }

   .about-us__form {
      width: 100%;
      max-width: 824px;
   }

   .about-us__textarea {
      width: 100%;
   }

   .about-us-form-input {
      width: calc((100% - 30px) / 2);
   }
}

@media (max-width: 1010px) {
   /*  --- START -  1024 > COMMON STYLE CONF. */

   /*  --- END -- 1024 -- COMMON STYLE CONF. */
      /*  --- START - 1024 > GUESTS SEC. */
      .guests__article {
         margin: 0;
         margin-bottom: 50px;
      }

      .guests-article-wrapper  {
         flex-direction: column;
      }

      /* .guests-article-wrapper img {
         width: 100%;
         object-fit: contain;
      } */

      .guests-article-descr {
         margin: 0;
         margin-bottom: 30px;
      }
   /*  --- END -- 1024 -- GUESTS SEC. */
}

@media (max-width: 975px) {

   .hero-wrapper::after {
      display: none;
   }

   /*  --- START --- PODCASTS SEC. */
   .podcasts__list {
      flex-direction: column;
      gap: 30px;
   }

   .podcasts-list-item {
      width: 100%;
      position: relative;
      height: 100%;

      object-fit: contain;
   }

   .playlists-wrapper {
      flex-direction: column;
      flex-wrap: wrap;
   }

   .playlists-left-side {
      margin: 0;
      margin-bottom: 30px;
      flex: 0 0;
   }

   .playlists-list-item {
      flex: 1 1 calc((100% - 30px) / 2);
      max-width: calc((100% - 30px) / 2);
   }

   /*  --- START --- TVSHOWS SEC. */

   .tvshows__wrapper {
      flex-direction: column;
      gap: 30px;
      width: 100%;
   }

  .tvshows-archive-wrapper {
      padding-left: 20px;
      transform: translateX(30px);
   }

   .tvshows-archive-wrapper::before {
      bottom: 7px;
      left: -70px;
   }

   .tvshows__list {
      padding-top: 161px;
   }

   .tvshows__list::after {
      content: '';
      width: 1px;
      height: 1px;

      border-bottom: 1px solid red
   }

   .tvshows-archive-wrapper {
      order: 3;
      align-self: center;
   }

   .market-wrapper {
      width: 100%;
      flex-direction: column;
   }

   .market-left-side {
      max-width: 540px;
      min-height: 474px;
      margin: 0;
      margin-bottom: 50px;

      align-self: center;
   }

   .market-right-side {
      width: 100%;
      max-width: 540px;
      align-self: center;
   }

   .market-right-side::after {

      top: 114px;
      right: 0;
      left: 0;

      overflow: hidden;
   }

   .market-right-side-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%; /* 24px */
   }

   .market-right-side-descr {
      font-size: 14px;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
   }

   .market-right-side span {
      font-size: 24px;
      font-weight: 500;
   }

   .market-btn {
      padding: 15px 5px;

      font-size: 16px;
      font-weight: 500;
      line-height: 100%; /* 16px */
   }
}

@media (max-width: 768px) {

   /*  --- START -  487 < COMMON STYLE CONF. */

   .container {
      padding: 0;
      padding: 0 32px;
   }

   /*  --- END - 487 > COMMON STYLE CONF. */
      /*  --- START - 487 > < HEADER SEC. */

   .header-wrapper {
      padding: 0;
      padding-top: 16px;

      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   .header-logo__img {
      width: 87px;
      height: 10px;

   }

   .header-nav {
      padding-top: 16px;
      width: 100%;

      order: 3;
   }

   .header-list {
      width: 100%;

      padding: 0;
      padding: 13px 0;

      justify-content: space-between;

      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;

      overflow-y: hidden;
   }

   .header-list .header-list__item {
      margin: 0;
   }

   .header-list .header-list__item:not(:last-child) {
      margin-right: 24px;
   }

   .header-item__link {
      font-size: 16px;
   }

   /*  --- END -  768 TO 1024 HEADER SEC. */
      /*  --- START - 768 TO 1024 < HERO SEC. */

   .hero-offset {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .hero__title {
      margin-bottom: 8px;
      font-size: 32px;
   }

   .hero-title__span {
      font-size: 32px;
   }

   .hero__paragraph {
      max-width: 635px;
      margin-bottom: 12px;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
   }

   .hero__paragraph__strong {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
   }

   .hero-btn {
      padding: 0;
      padding: 17px 45px;

      text-align: center;

      font-size: 16px;;
      font-weight: 500;
   }


   /*  --- END - 768 TO 1024 < HERO SEC. */
      /*  --- START - 768 TO 1024 < PODCASTS SEC. */



   /*  --- END - 768 < TVSHOWS SEC. */

      /*  --- START - 768 < GUESTS SEC. */



   /*  --- END - 768 < TVSHOWS SEC. */
      /*  --- START - 768 < PLAYLISTS SEC. */

      .playlists-list-item {
         flex-direction: column;
      }

      /*  --- END - 768 < TVSHOWS SEC. */
   /*  --- START - 768 < ABOUT-US SEC. */



   .about-us-inputs-wrapper {
      margin-bottom: 30px;
      flex-direction: column;
   }

   .about-us-form-input:first-of-type {
      margin-bottom: 30px;
   }

   .about-us-form-input {
      width: 100%;
   }

   .about-us-top-wrapper {
      margin-bottom: 200px;
   }

   .about-us-top-wrapper::after {
      width: 100%;
      height: 100%;
      top: 211px;
      left: -32px;
      background-image: url(../assets/imgs/about-us-768px-spirals.png);
      background-repeat: no-repeat;
      background-size: contain;
  }


   .footer-top-social-media-wrapper {
      margin-bottom: 30px;

      align-items: center;
      justify-content: center;
   }

   /*  --- END - 768 < TVSHOWS SEC. */
      /*  --- START - 768 < FOOTER SEC. */

   .footer-top-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

@media (max-width: 600px) {


   .podcasts-list-item {
      flex-direction: column;
   }

   .podcasts-list-item-right-wrapper {
      padding: 0;
      padding: 30px 0 30px 15px;
   }

   .podcasts-list-left-wrapper img {
      width: 100%;
      object-fit: contain;
   }

   .tvshows__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
   }

   .tvshows__list {
      padding: 0;
      padding-top: 50px;
   }

   .tvshows-item-content {
      padding: 10px;
   }

   .tvshows-item-title {
      font-size: 12px;
      font-weight: 500;
   }

   .tvshows-item-descr {
      margin: 0;

      font-size: 9px;
      font-weight: 400;
   }

   .tvshows-list__item span {
      font-size: 12px;
      font-weight: 400;
   }

   .tvshows-item-content {
      min-height: 99px;
   }

   .tvshows-archive-wrapper {
      max-width: 166px;

      flex-direction: column-reverse;
   }

   .tvshows-archive-wrapper-descr {
      width: 166px;
      max-width: 166px;
      margin-bottom: 7px;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%; /* 21px */
   }

   .tvshows-archive-wrapper-btn {
      margin-top: auto;
      min-width: 110px;

      padding: 0;
      padding: 17px 43px;
      margin: 0;
   }


   .tvshows-archive__wrapper::before {
      /* width: 77px;
      height: 105px; */
   }


}
