@media (max-width: 1150px) {
   .about-us__item {
      max-width: 397px;
   }
}

@media (max-width: 1024px) {

   /*  --- START -  1024 > COMMON STYLE CONF. */

   .container {
      padding: 0;
      padding: 0 100px;
   }

   /*  --- END -- 1024 -- COMMON STYLE CONF. */
      /*  --- START - 1024 > HEADER SEC. */

   .header-wrapper {
      padding: 0;
      padding-top: 30px;

      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   .header-logo__img {
      width: 113px;
      height: 14px;
   }

   .header-nav {
      padding-top: 27px;
      width: 100%;

      order: 3;
   }

   .header-list {
      padding: 20px 0;

      justify-content: space-between;
      overflow-y: hidden;

      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;
   }

   .header-item__link {
      font-size: 20px;
   }

   .header .header-list__item {
      margin: 0;
   }

   /*  --- END -- 1024 -- HEADER SEC. */
      /*  --- START -- 1024 -- HERO SEC. */

   .hero-wrapper::after {
      background-size: 258px 277px;
   }

   .hero-offset {
      padding: 0;
      padding-top: 90px;
      padding-bottom: 90px;
   }

   .hero__title {
      max-width: 539px;
      margin-bottom: 17px;
   }

   .hero__paragraph {
      max-width: 539px;
      margin-bottom: 20px;
   }

   /*  --- END -- 1024 -- HERO SEC. */
      /*  --- START -- 1024 -- PODCAST SEC. */

   .podcasts-list-item-right-wrapper {
      padding: 0;
      padding: 40px 0 40px 30px;
   }

   /*  --- END -- 1024 -- PODCAST SEC. */
      /*  --- START -- 1024 -- TVSHOWS SEC. */

   .tvshows-list__item {
      flex: 1 1 calc((100% - 30px) / 2);
   }

   /*  --- END -- 1024 -- HERO SEC. */
      /*  --- START --  1024 -- GUESTS SEC. */


   /* .guests-info__wrapper {
      max-width: 545px;
   } */

   .guests-article__descr {
      margin: 0;
      margin-bottom: 30px;
   }

   .guests__descr {
      max-width: 530px;
   }

   /*  --- END -- 1024 -- GUESTS SEC. */
      /*  --- START --  1024 -- PLAYLISTS SEC. */

   .playlists-wrapper {
      flex-direction: column;
   }

   .playlists-list__item {
      min-height: fit-content;
      display: flex;
      flex-direction: row;
   }

   .playlists-item__content {
      padding: 0;
      padding: 35px 5px 5px 5px;
   }

   .playlists-left-side {
      margin: 0;
      flex: 1 1;
   }

   .playlists-left-side {
      margin-bottom: 30px;
   }

   .playlists__list {
      margin: 0;
   }

   .playlists-list__item {
      flex: 1 1 calc((100% - 30px) / 3);
      max-width: calc((96% - 30px) / 3);
   }

   .playlists-item__content {
      padding: 0;
      padding: 35px 5px 5px 5px;
   }

   /*  --- END -- 1024 -- PLAYLISTS SEC. */
      /*  --- START-- 1024 -- MARKET SEC. */

   .market-left-side {
      max-width: 397px;
      min-height: 350px;

      align-self: center;

      background-position: center 83px;
   }

   .market-right-side {
      max-width: 396px;
   }

   .market-right-side::after {
      top: 109px;
      left: 0;
   }

   .market-right-side span {
      margin-bottom: 30px;
   }

   /*  --- END -- 1024 -- MARKET SEC. */
      /*  --- START-- 1024 -- ABOUTUS SEC. */

   .about-us-top-wrapper::after {
      top: -24px;
      right: -285px;
      background: url(../assets/imgs/about-us-1024px-spirals.png) no-repeat center right;
  }
   }

   .about-us__form {
      width: 100%;
      max-width: 824px;
   }

   .about-us__textarea {
      width: 100%;
   }

   .about-us-form__input {
      width: calc((100% - 30px) / 2);
   }

   .about-us-top-wrapper {
      width: 539px;
   }
}

@media (max-width: 920px) {

   .hero-wrapper::after {
      display: none;
  }

   /*  --- START - 920 < PODCASTS SEC. */
   .podcasts__list {
      flex-direction: column;
      gap: 30px;
   }

   .podcasts-list__item {
      width: 100%;
   }

   /*  --- START - 1024 < TVSHOWS SEC. */

  .tvshows__wrapper {
   flex-direction: column;
   gap: 30px;
   width: 100%;
  }

  .tvshows-archive__wrapper {
      padding-left: 20px;
      transform: translateX(30px);
  }

   .tvshows-archive__wrapper::before {
      bottom: 7px;
      left: -70px;
   }

   .tvshows__list {
      padding-top: 161px;
   }

   .tvshows__list::after {
      content: '';
      width: 1px;
      height: 1px;

      border-bottom: 1px solid red
   }

   .tvshows-archive__wrapper {
      order: 3;
      align-self: center;
   }
}

@media (max-width: 400px) {
   .podcasts-list__item {
      flex-direction: column;
   }

   .podcasts-list-item-right-wrapper {
      padding: 0;
      padding: 30px 0 30px 15px;
   }

   .podcasts-list-left-wrapper img {
      width: 100%;
      object-fit: contain;
   }

   .tvshows__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
   }

   .tvshows__list {
      padding: 0;
      padding-top: 50px;
   }

   .tvshows-item__content {
      padding: 10px;
   }

   .tvshows-item__title {
      font-size: 12px;
      font-weight: 500;
   }

   .tvshows-item__descr {
      margin: 0;

      font-size: 9px;
      font-weight: 400;
   }

   .tvshows-list__item span {
      font-size: 12px;
      font-weight: 400;
   }

   .tvshows-item__content {
      min-height: 99px;
   }

   .tvshows-archive__wrapper {
      max-width: 166px;

      flex-direction: column-reverse;
   }

   .tvshows-archive-wrapper__descr {
      width: 166px;
      max-width: 166px;
      margin-bottom: 7px;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%; /* 21px */
   }

   .tvshows-archive-wrapper__btn {
      margin-top: auto;
      min-width: 110px;

      padding: 0;
      padding: 17px 43px;
      margin: 0;
   }


   .tvshows-archive__wrapper::before {
      /* width: 77px;
      height: 105px; */
   }


}

@media (max-width: 768px) {

   /*  --- START -  487 < COMMON STYLE CONF. */

   .container {
      padding: 0;
      padding: 0 32px;
   }

   /*  --- END - 487 > COMMON STYLE CONF. */
      /*  --- START - 487 > < HEADER SEC. */

   .header-wrapper {
      padding: 0;
      padding-top: 16px;

      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   .header-logo__img {
      width: 87px;
      height: 10px;

   }

   .header-nav {
      padding-top: 16px;
      width: 100%;

      order: 3;
   }

   .header-list {
      width: 100%;

      padding: 0;
      padding: 13px 0;

      justify-content: space-between;

      border-top: 1px solid #E6E8EC;
      border-bottom: 1px solid #E6E8EC;

      overflow-y: hidden;
   }

   .header-list .header-list__item {
      margin: 0;
   }

   .header-list .header-list__item:not(:last-child) {
      margin-right: 24px;
   }

   .header-item__link {
      font-size: 16px;
   }

   /*  --- END -  768 TO 1024 HEADER SEC. */
      /*  --- START - 768 TO 1024 < HERO SEC. */

   .hero-offset {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .hero__title {
      margin-bottom: 8px;
      font-size: 32px;
   }

   .hero-title__span {
      font-size: 32px;
   }

   .hero__paragraph {
      max-width: 635px;
      margin-bottom: 12px;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
   }

   .hero__paragraph__strong {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
   }

   .hero-btn {
      padding: 0;
      padding: 17px 45px;

      text-align: center;

      font-size: 16px;;
      font-weight: 500;
   }


   /*  --- END - 768 TO 1024 < HERO SEC. */
      /*  --- START - 768 TO 1024 < PODCASTS SEC. */



   /*  --- END - 768 < TVSHOWS SEC. */

      /*  --- START - 768 < GUESTS SEC. */

      .guests-article__wrapper  {
         align-items: center;
         justify-content: center;
         flex-direction: column;
      }

      .guests-article__descr {
         margin-bottom: 30px;
      }

      .guests-article__wrapper {
         max-width: 255px;
      }

   /*  --- END - 768 < TVSHOWS SEC. */
      /*  --- START - 768 < PLAYLISTS SEC. */

   .playlists-wrapper {
      flex-direction: column;
      flex-wrap: wrap;
   }

   .playlists-left-side {
      margin: 0;
      margin-bottom: 30px;
      flex: 0 0;
   }

   .playlists-list__item {
      flex: 1 1 calc((100% - 30px) / 2);
      max-width: calc((100% - 30px) / 2);
   }

      /*  --- END - 768 < TVSHOWS SEC. */
   /*  --- START - 768 < MARKET SEC. */

   .market-wrapper {
      flex-direction: column;
   }

   .market-left-side {
      width: 256px;
      height: 225px;

      margin: 0;
      margin-bottom: 50px;

      align-self: center;
   }

   .market-right-side {
      max-width: 100%;
   }

   .market-right-side::after {
      width: 1920px;

      top: 65px;
      right: 0;
      left: 0;

      overflow: hidden;
   }

   .market-right-side__title {
      font-size: 24px;
      font-weight: 400;
      line-height: 100%; /* 24px */
   }

   .market-right-side__descr {
      font-size: 14px;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
   }

   .market-right-side span {
      margin-bottom: 20px;

      font-size: 24px;
      font-weight: 500;
   }

   .market-btn {
      padding: 15px 5px;

      font-size: 16px;
      font-weight: 500;
      line-height: 100%; /* 16px */
   }

   /*  */

   .about-us-top__content p {

   }

   .about-us-inputs-wrapper {
      margin-bottom: 30px;
      flex-direction: column;
   }

   .about-us-form__input:first-of-type {
      margin-bottom: 30px;
   }

   .about-us-form__input {
      width: 100%;
   }

   .footer-top__social-media-wrapper {
      margin-bottom: 30px;

      align-items: center;
      justify-content: center;
   }

   /*  --- END - 768 < TVSHOWS SEC. */
      /*  --- START - 768 < FOOTER SEC. */

   .footer-top-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}
