/* # - START - FONTS CONFIGURATION */
   /* - FONTS Muller (woof and woof2) */

@font-face {
   font-family: 'Muller';
   src:local("MullerRegular"), local("MullerRegular"),
      url("/assets/fonts/MullerRegular.woff2") format('woff2'),
      url("/assets/fonts/MullerRegular.woff") format('woff');

   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* # - END - FONTS CONF. */
   /* & - RESET & BASIC STYLES */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

.btn-reset {
   padding: 0;

   border: none;
   background-color: transparent;

   text-align: center;
   cursor: pointer;
}

fieldset {
   border: none;
   margin: 0;
   padding: 0;
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* img,
svg {
   max-width: 100%;
} */

.dflex {
   display: flex;
}

.title-reset,
.paragraph-reset {
   margin: 0;
   padding: 0;
}

.list-reset {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   list-style: none;
}

.section-offset {
   padding-top: 94px;
   padding-bottom: 93px;
}

:root {
   /* # -- BTN COLOR */
   --clr-btn: #6D31EE;

   /* # -- TXT COLOR */
   --clr-main-txt: #A1A6B4;
   --clr-def-txt: #FFF;
   --clr-def-sec-txt: #121723;
   --clr-additional-txt: #A1A6B4;

   /* # -- BGR COLOR */
   --bg-main-clr: #FFF;
   --bg-additional-clr: #E6E8EC;
   --bg-sec-additional-clr: #121723;

   --bg-third-additional-clr: #F0D288;
   --bg-fourth-additional-clr: #BB973E;

   /* # -- GAP */
   --gap-margin: 30px;
   --gap-offset: 97px;

   /* # -- FONTS  */
   --px-twelve: 12px;
   --px-sixteen: 16px;
   --px-twenty: 20px;

   /* # -- CONDITION STYLES */
   --style-focus-clr: #AA9DFA;
   --style-hover-clr: #6D31EE;
   --style-active-clr: #4F28A5;

   --style-focus-clr-form: #292E39;
   --style-hover-clr-form: #A1A6B4;
   --style-active-clr-form: ;

   /* # -- SIGNS && ALERTS */
   --style-error-clr: #D52B1E;

}

/*  --- END - RESET & BASIC STYLES */
   /*  --- START - COMMON STYLE CONF. */

body {
   min-width: 320px;

   font-family: 'Muller', Arial, Helvetica, sans-serif;
   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-def-sec-txt);
   line-height: normal;

   background-color: var(--bg-main-clr);
}

.container {
   max-width: 1150px;
   padding: 0 20px;
   margin: 0 auto;
}

.btn {
   display: inline-block;
   padding: 25px 54px;

   font-size: var(--px-twenty);
   font-weight: 500;
   line-height: normal;
   color: var(--clr-def-txt);

   background: #6D31EE;
   outline: none;
   border: none;
   border-radius: 40px;

   cursor: pointer;
}

/*  --- END - COMMON STYLE CONF. */
   /* --- START - HEADER SECTION. */

.header-wrapper {
   padding: 34px 0 34px 0;
}

.header-logo__img {
   width: 160px;
   height: 20px;
   margin-right: 80px;

   max-width: none;

   flex-shrink: 0;
   object-fit: contain;
}

.header-nav {
   font-size: var(--px-twenty);
}

.header-list {
   width: 100%;
   flex-grow: 1;
}

.header-list__item:not(:last-child) {
   margin-right: 59px;
}

.header-item__link {
   font-size: var(--px-twenty);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.header-form {
   margin-left: auto;
}

.header-form-btn svg {
   max-width: none;
}

/* --- END - HEADER SECTION. */
   /* --- START - HERO SECTION. */

.hero-wrapper {
   position: relative;
}

.hero-wrapper::after {
   position: absolute;
   content: '';
   right: 0;
   bottom: -50px;

   width: 350px;
   height: 372px;

   object-fit: contain;

   background: url(../assets/imgs/microphone-hero.jpg) no-repeat center right / 350px 372px;
   z-index: -1;
}

.hero__title {
   max-width: 635px;
   margin-bottom: 12px;

   font-size: 60px;
   font-weight: 700;
   line-height: 100%;
}

.hero-title__span {
   font-size: 60px;
   font-style: italic;
   font-weight: 400;
   line-height: 100%;
}

.hero__paragraph {
   max-width: 635px;
   margin-bottom: 45px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}

.hero-paragraph__strong {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}

.hero-btn:focus-visible {
   background-color: var(--style-focus-clr);
   transition: background-color 0.2s ease-in-out;
}

.hero-btn:hover {
   background-color: var(--style-hover-clr);
   transition: background-color 0.2s ease-in-out;
}

.hero-btn:active {
   background-color: var(--style-active-clr);
   transition: background-color 0.2s ease-in-out;
}

/*  --- END - HERO SECTION. */
   /* --- START - PODCASTS SECTION. */

.podcasts {
   background-color: var(--bg-additional-clr);
}

.podcasts__title {
   margin: 0;
   margin-bottom: 30px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.podcasts__list {
   flex-wrap: wrap;
   gap: 30px;

}

.podcasts-list__item {
   width: calc(50% - 15px);
   min-height: 140px;
   background-color: var(--bg-main-clr);
   line-height: 0;
}

.podcasts-list-left-wrapper {
   position: relative;
   height: 100%;
   object-fit: contain;
}

.podcasts-list-item__date {
   position: absolute;
   padding: 3px 6px;

   bottom: 0;
   left: 0;

   font-size: 10px;
   font-weight: 400;
   line-height: normal;
   text-align: center;
   color: var(--clr-def-sec-txt);

   background-color: #E6E8EC;
}

.podcasts-list-item-right-wrapper {
   width: 100%;
   padding: 40px 30px;
}

.podcasts-list__time {
   display: inline-block;
   margin-bottom: 7px;

   font-size: var(--px-twelve);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.podcasts-list__title {
   margin-bottom: 4px;

   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.podcasts-list__author {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-additional-txt);
}

/*  --- END - PODCASTS SECTION. */
   /* --- START - SHOWS SECTION. */

.tvshows__title {
   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
   color: var(--clr-def-sec-txt);
}

.tvshows__wrapper {
   gap: 30px;
   margin-top: -35px;
   width: 100%;
   min-height: 550px;
}

.tvshows-archive__wrapper {
   position: relative;
   width: 100%;
   max-width: 255px;
   justify-content: flex-end;
   flex-direction: column;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
   color: var(--clr-additional-txt);
}

.tvshows-archive__wrapper::before {
   content: '';
   position: absolute;
   width: 65px;
   height: 89px;

   bottom: 120px;
   left: 0;

   background-image: url(../assets/imgs/microphone-tvshows.jpg);
   background-position: bottom right;
   background-repeat: no-repeat;
}

.tvshows-archive-wrapper__btn {
   max-width: 160px;
   padding: 12px 40px;
   margin-bottom: 12px;

   font-size: var(--px-sixteen);
   font-weight: 500;
   line-height: normal;
   text-align: center;
   color: var(--clr-def-sec-txt);

   background: var(--bg-main-clr);
   border-radius: 77px;
   border: 2px solid #121723;
}

.tvshows-archive-wrapper__descr {
   max-width: 255px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
   color: var(--clr-additional-txt);
}

.tvshow-right__wrapper {
   min-height: 550px;
}

.tvshows__list {
   flex-wrap: wrap;
   gap: 30px;
}

.tvshows-list__item {
   flex: 1 1 calc((100% - 60px) / 3);
}

.tvshows-list__item picture {
   display: block;
   width: 100%;
}

.tvshows-list__item img {
   display: block;
   width: 100%;

   object-fit: cover;
}

.tvshows-item__link {
   font-size: var(--px-sixteen);
   font-weight: 400;
   font-style: italic;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.tvshows-item__content {
   padding: 20px 0 20px 16px;

   border: 1px solid #E6E8EC;
}

.tvshows-item__title {
   margin-bottom: 4px;

   font-size: var(--px-twenty);
   font-weight: 500;
   line-height: normal;
   color: var(var--clr-def-sec-txt);
}

.tvshows-item__descr {
   margin-bottom: 20px;

   font-size: var(--px-twelve);
   font-weight: 400;
   line-height: normal;
   color:var(--clr-additional-txt);
}

/*  --- END - PODCASTS CONF. */
   /* --- START - GUESTS SECTION. */

.guests {
   background-color: var(--clr-def-sec-txt);
}

.guests__title {
   margin-bottom: 12px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
   color: var(--clr-def-txt);
}

.guests__descr {
   max-width: 825px;
   margin-bottom: 50px;

   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: 160%; /* 32px */
   color: var(--clr-additional-txt);
}

.guests__descr span {
   display: block;
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   color: var(--clr-additional-txt);
   font-weight: 700;
   line-height: 150%; /* 30px */
}

.guests__article:not(:last-child) {
   margin-bottom: 50px;
}

.guests-article__wrapper {
   gap: 30px;
}

.guests-info__wrapper {
   flex-direction: column;
   max-width: 458px;
}

.guests__name {
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   color: var(--clr-def-txt);
   font-weight: 500;
   line-height: normal;
}

.guests-article__descr {
   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-additional-txt);
   line-height: 180%; /* 28.8px */
}

.guests-btn {
   margin-top: auto;
   align-self: flex-start;
   padding: 0;
   padding: 13px 18px;

   text-align: center;
   font-size: var(--px-sixteen);
   color: #AA9DFA;
   font-weight: 500;
   line-height: normal;

   background-color: transparent;
   border-radius: 77px;
   border: 2px solid #AA9DFA;
}

.guests-btn:focus-visible {
   color: var(--clr-def-txt);

   background-color: var(--style-focus-clr);
   transition: background-color 0.2s ease-in-out;
}

.guests-btn:hover {
   color: var(--clr-def-txt);

   background-color: var(--style-hover-clr);
   transition: background-color 0.2s ease-in-out;
}

.guests-btn:active {
   color: var(--clr-def-txt);

   background-color: var(--style-active-clr);
   transition: background-color 0.2s ease-in-out;
}

/*  --- END - GUESTS SECTION. */
   /* --- START - PLAYLISTS SECTION. */

.playlists-wrapper {
   width: 100%;
}

.playlists-left-side {
   flex: 1 0 350px;
   margin-right: 30px;

   flex-direction: column;
}

.playlists-left-side__title {
   margin-bottom: 12px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
   color: var(--clr-def-sec-txt);
}

.playlists-left-side span:nth-of-type(1) {
   margin-bottom: 6px;

   font-size: var(--px-sixteen);
   font-weight: 300;
   line-height: 22px; /* 137.5% */
   color: var(--clr-additional-txt);
}

.playlists-left-side span:nth-of-type(2) {
   width: 30px;
   height: 30px;
   padding: 7px;

   font-size: var(--px-twelve);
   font-weight: 400;
   color: var(--clr-additional-txt);

   border-radius: 100px;
   border: 1px solid #A1A6B4;
}

.playlists-left-side__descl   {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 22px; /* 137.5% */
   color: var(--clr-additional-txt);
}

.playlists__list {
   margin-top: 10px;

   flex-wrap: wrap;
   gap: 30px;
}

.playlists-list__item {
   flex: 1 1 calc((100% - 90px) / 4);
   max-width: calc((100% - 90px) / 4);

   line-height: 0;

   cursor: pointer;
   border: 1px solid #E6E8EC;
}

.playlists-item__content {
   padding: 16px;
}

.playlists-item__title {
   margin-bottom: 2px;

   font-size: var(--px-sixteen);
   color: var(--clr-def-sec-txt);
   font-weight: 500;
   line-height: normal;
}

.playlists-item__content span {
   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;
}

/* РЕАЛИЗОВАТЬ КАК ПЛЕЕР (ПРОИГРОВАТЕЛЬ) БЫЛО БЫ ОТЛИЧНО */

/*  --- END - PLAYLISTS SECTION. */
   /* --- START - MARKET SECTION. */

.market {
   min-height: 804px;

   background: #292E39;
}

.market-wrapper {
   justify-content: space-between;
   min-height: 635px;
}

.market-left-side {
   width: 640px;
   height: 562px;

   background: url(../assets/imgs/markets-img.png) no-repeat center center;
   background-size: contain;
}

.market-right-side {
   position: relative;
   max-width: 445px;
   min-height: auto;

   overflow: hidden;

   flex-direction: column;
}

.market-right-side__title {
   margin-bottom: 50px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
   color: #F0D288;
}

.market-right-side__title::after {
   content: '';
   position: absolute;
   top: 108px;
   right: 0;
   width: 430px;
   height: 12px;
   background-image: url(../assets/imgs/market-spiral.svg);
}

.market-right-side__descr {
   margin-bottom: 12px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 180%; /* 28.8px */
   color: var(--clr-def-txt);
}

.market-right-side span {
   font-size: 30px;
   font-weight: 500;
   color: var(--clr-def-txt);
}

.market-btn {
   margin-top: auto;
   padding: 19px 10px;
   width: 300px;
   height: 70px;

   justify-content: center;
   align-items: center;

   font-size: var(--px-twenty);
   font-weight: 500;
   line-height: 100%; /* 20px */
   text-align: center;
   color: #F0D288;

   background-color: transparent;
   border-radius: 100px;
   border: 2px solid #F0D288;
} /* ИКОНКА SVG СТОИТ КРИВО ПО ОТНОШЕНИЮ ТЕКСТА */

.market-btn:focus-visible {
   color:var(--clr-def-sec-txt);

   border: 1px solid var(--bg-third-additional-clr);
   background-color: var(--bg-third-additional-clr);
   transition: background-color 0.2s ease-in-out;
}

.market-btn:hover {
   color:var(--clr-def-sec-txt);

   border: 1px solid var(--bg-third-additional-clr);
   background-color: var(--bg-fourth-additional-clr);
   transition: background-color 0.2s ease-in-out;
}

.market-btn:active {
   color:var(--clr-def-sec-txt);

   border: 1px solid var(--bg-fourth-additional-clr);
   background-color: var(--bg-fourth-additional-clr);
   transition: background-color 0.2s ease-in-out;
}

/*  --- END - MARKET SECTION. */
   /* --- START - MARKET SECTION. */

.about-us {
   min-height: 1293px;
   background-color: #121723;
}

.about-us__title {
   margin-bottom: 12px;

   font-size: 48px;
   font-weight: 400;
   color: var(--clr-def-txt);
   line-height: 100%; /* 48px */
}

.about-us-top-wrapper {
   position: relative;
   gap: 30px;
}

.about-us-top-wrapper::after {
   content: '';
   position: absolute;
   top: -60px;
   right: 0;

   width: 445px;
   height: 290px;

   background: url(../assets/imgs/about-us-spirals.png) no-repeat center center;
}

.about-us-top__content {
   position: relative;
   max-width: 634px;
}

.about-us-top__content b {
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   font-weight: 700;
   line-height: 150%;
   color: var(--clr-additional-txt);
}

.about-us-top__content p {
   margin-bottom: 30px;

   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: 160%; /* 32px */
   color: var(--clr-additional-txt);
}

.about-us__list {
   width: 100%;
   margin-bottom: 30px;

   flex-wrap: wrap;
   gap: 30px;
}

.about-us__item {
   max-width: 255px;
   height: 360px;
   min-height: 360px;

   flex-direction: column;
   flex: 1 1 calc((100% - 90px) / 4);
}

.about-us__item picture {
   display: block;
   width: auto;
   height: auto;

   margin-bottom: 30px;
}

.about-us-item__img {
   display: block;
   width: auto;
   height: auto;
}

.about-us-item__title {
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   font-weight: 500;
   color: var(--clr-def-txt);
}

.about-us-item__descr {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 24px; /* 150% */
   color: var(--clr-additional-txt);
}

.about-us__form {
   flex-direction: column;
   gap: 30px;
}

.about-us__textarea {
   padding: 30px 32px;
   max-width: 920px;
   min-height: 150px;

   font-size: var(--px-twenty);
   font-weight: 400;
   color: var(--clr-additional-txt);

   resize: none;

   border-radius: 30px;
   background-color: transparent;
   border: 1px solid #FFF;
}

.about-us__textarea:focus-visible {
   border: 1px solid var(--style-focus-clr);
   background-color: var(--style-focus-clr-form);
   transition: 0.2s ease-in-out;
}

.about-us__textarea:hover {
   border: 1px solid var(--style-hover-clr);
   background-color: var(--style-focus-clr-form);
   transition: 0.2s ease-in-out;
}

.about-us__textarea:hover {
   border: 1px solid var(--style-active-clr);
   transition: 0.2s ease-in-out;
}

.about-us-inputs-wrapper {
   max-width: 920px;

   justify-content: space-between;
}

.about-us-form__input {
   padding: 25px 32px;
   width: 445px;
   max-width: 445px;
   min-height: 70px;

   font-size: var(--px-twenty);
   font-weight: 400;
   color: var(--clr-additional-txt);

   border-radius: 40px;
   background-color: transparent;
   border: 1px solid #FFF;
}

.about-us-form__input:focus-visible {
   border: 1px solid var(--style-focus-clr);
   background-color: var(--style-focus-clr-form);
   transition: 0.2s ease-in-out;
}

.about-us-form__input:hover {
   border: 1px solid var(--style-hover-clr);
   background-color: var(--style-focus-clr-form);
   transition: 0.2s ease-in-out;
}

.about-us__input:hover {
   border: 1px solid var(--style-active-clr);
   transition: 0.2s ease-in-out;
}

.about-us-form__input:invalid:focus {
   border: 1px solid var(--style-error-clr);
   transition: 0.2s ease-in-out;
   /* НЕ ПОЛУЧЕТСЯ ПРИМЕНИТЬ ALERT*/
}

.about-us-form__input-btn {
   align-self: flex-start;
}

.about-us__form .about-us-form__input-btn:focus-visible {
   background-color: var(--style-focus-clr);
   transition: background-color 0.2s ease-in-out;
}

.about-us__form .about-us-form__input-btn:hover {
   background-color: var(--style-hover-clr);
   transition: background-color 0.2s ease-in-out;
} /* НЕ ПРИМЕНЯЕТСЯ */

.about-us__form .about-us-form__input-btn:active {
   background-color: var(--style-active-clr);
   transition: background-color 0.2s ease-in-out;
}

.about-us-form__label {
   font-size: var(--px-twelve);
   color: var(--clr-def-txt);
   font-weight: 500;

   cursor: pointer;
}

.about-us-form__checkbox {
   align-self: flex-start;

   font-size: var(--px-twelve);
   color: var(--clr-def-txt);
   font-weight: 500;
}

.about-us-form__default-checkbox {
   position: absolute;
   width: 0;
   height: 0;

   opacity: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   z-index: -1;
}

.about-us-form__checkbox {
   position: relative;
   display: inline-block;
   width: 14px;
   height: 14px;
   margin-right: 8px;
   vertical-align: sub;

   border: 1px solid #FFF;
}

.about-us-form__checkbox::before {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;

   width: 14px;
   height: 14px;

   transform: translate(-50%, -50%) scale(0);
   transition: 0.2s ease-in-out;
   background-image: url(../assets/icons/checkbox.svg);
   background-size: contain;
   background-repeat: no-repeat;
}

.about-us-form__default-checkbox:checked +
.about-us-form__checkbox::before {
   transform: translate(-50%, -50%) scale(1);
}

/*  --- END - MARKET SECTION. */
   /* --- START - FOOTER SECTION. */

footer {
   position: relative;
   padding: 94px 0 10px 0;
   min-height: 323px;

   background-color: #292E39;
}

.footer-top-wrapper {
   margin-bottom: 112px;
   min-height: 88px;

   justify-content: space-between;
}

.footer-top__social-media-wrapper {
   min-height: 65px;
   flex-direction: column;
}

.footer-logo__link {
   margin-bottom: 15px;
}

.footer-top__social-media {
   gap: 20px;
}

.footer-youtube-icon:hover svg path,
.footer-ok-icon:hover svg path,
.footer-vk-icon:hover svg path {
   fill: var(--style-hover-clr);
   transition: fill 0.2s ease-in-out;
}

.footer-youtube-icon:focus-visible svg path,
.footer-ok-icon:focus-visible svg path,
.footer-vk-icon:focus-visible svg path  {
   fill: var(--style-focus-clr);
   transition: fill 0.2s ease-in-out;
}

.footer-youtube-icon:active svg path,
.footer-ok-icon:active svg path,
.footer-vk-icon:active svg path{
   fill: var(--style-active-clr);
   transition: fill 0.2s ease-in-out;
}

.footer-nav {
   max-width: 488px;
}

.footer-nav__list {
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 20px 109px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-def-txt);
}

.footer-nav__list-item {
   min-width: 86px;
}

.footer-nav__list-item .footer-nav__link:focus-visible {
   color: var(--style-focus-clr);
   transition: 0.2s ease-in-out;
}

.footer-nav__list-item:hover {
   color: var(--style-hover-clr);
   transition: 0.2s ease-in-out;
}

.footer-nav__list-item:active {
   color: var(--style-active-clr);
   transition: 0.2s ease-in-out;
}

.footer-bottom-wrapper {
   justify-content: center;
   align-items: center;

   text-align: center;
}

.footer::before {
   position: absolute;
   content: '';
   right: 0;
   left: 0;
   bottom: 0;

   margin-bottom: 30px;
   width: 100%;
   height: 24px;

   background: url(../assets/imgs/footer-wave-line.png) no-repeat center center;
}

.footer-bottom-wrapper small {
   align-self: flex-end;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 103%;
   color: var(--clr-main-txt);
   text-align: center;
}
