/* # - START - FONTS CONFIGURATION */
   /* - FONTS Muller (woof and woof2) */

   @font-face {
    font-family: 'Muller';
    src:local("MullerRegular"), local("MullerRegular"),
       url("/assets/fonts/MullerRegular.woff2") format('woff2'),
       url("/assets/fonts/MullerRegular.woff") format('woff');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* # - END - FONTS CONF. */
/* & - RESET & BASIC STYLES */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn_reset {
    padding: 0;

    border: none;
    background-color: transparent;

    text-align: center;
    cursor: pointer;
}

img,
svg {
 max-width: 100%;
}

.dflex {
   display: flex;
}

.title_reset,
.paragraph_reset {
   margin: 0;
   padding: 0;
}

.list_reset {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.section_spacing {
   padding: 94px 0;
}

:root {
   /* # -- BTN COLOR */
   --clr-btn: #6D31EE;

   /* # -- TXT COLOR */
   --clr-def-sec-txt: #121723;
   --clr-def-txt: #FFF;
   --clr-main-txt: #A1A6B4;
   --clr-additional-txt: #A1A6B4;

   /* # -- BGR COLOR */
   --bg-main-clr: #FFF;
   --bg-additional-clr: #E6E8EC;

   /* # -- GAP */
   --gap-margin: 30px;
   --gap-offset: 97px;

   /* # -- FONTS  */
   --px-twelve: 12px;
   --px-sixteen: 16px;
   --px-twenty: 20px;
}

/*  --- END - RESET & BASIC STYLES */
/*  --- START - COMMON STYLE CONF. */

body {
    min-width: 320px;

    font-family: 'Muller', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #121723;

    background-color: #FFF;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
   display: inline-block;
   padding: 25px 54px;

   font-size: 20px;
   font-weight: 500;
   line-height: normal;
   color: var(--clr-def-txt);

   border-radius: 40px;
   background: #6D31EE;
}

.sub-title {
   margin-bottom: 12px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */

   color: var(--clr-def-sec-txt);
}



/* --- START - HEADER SECTION. */

.header {
   padding: 34px 0 34px 0;
   align-items: center;
}

.header-logo {
   width: 160px;
   height: 20px;
   max-width: none;

   flex-shrink: 0;
   object-fit: contain;
}

.header-nav {
   font-size: var(--px-twenty);
}

.header-list {
   width: 100%;
   flex-grow: 1;
}

.header-item:not(:last-child) {
   margin-right: 59px;
}

.header-item-link {
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
}

.header-logo-link {
   margin-right: 80px;
}

.header-search-form {
   margin-left: auto;
}

.header-form-btn svg {
   max-width: none;
}

/* --- START - HERO SECTION. */

.hero {
   position: relative;
}

.hero-heading {
   max-width: 635px;
   margin-bottom: 14px;

   font-size: 60px;
   font-weight: 700;
   line-height: 100%;
}

.hero-heading-span {
   font-size: 60px;
   font-style: italic;
   font-weight: 400;
   line-height: 100%;
}

.hero-paragpraph {
   max-width: 635px;
   margin-bottom: 14px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}

.header-strong {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}



.hero::after {
   position: absolute;
   content: '';
   bottom: -50px;
   right: 0;

   width: 350px;
   height: 372px;
   object-fit: contain;

   background: url(../assets/imgs/microphone-hero.jpg) no-repeat center right / 350px 372px;
   z-index: -1;
}

/*  --- END - HERO CONF. */
   /* --- START - PODCASTS SECTION. */

.podcasts {
   background-color: var(--bg-additional-clr);
}

.podcasts h2 {
   margin: 0;
   margin-bottom: 30px;
}

.podcasts-list {
   flex-wrap: wrap;
   gap: 30px;

}

.podcasts-item {
   outline: 1px solid red;
   background-color: var(--bg-main-clr);
   width: calc(50% - 15px);
}

.podcasts-item-right-block {
   position: relative;
   max-width: 112px;
   height: 140px;
}

.podcasts-item-right-block img {
   width: 100%;
   min-height: 140px;
   object-fit: cover;
}

.podcasts-item-right-block span {
   position: absolute;
   padding: 3px 6px;

   background-color: #E6E8EC;
   bottom: 0;
   left: 0;

   color: #121723;

   text-align: center;
   font-size: 10px;
   font-weight: 400;
   line-height: normal;
}

.podcasts-item-left-block {
   width: 100%;
   padding: 40px 30px;
}

.podcasts-during {
   margin-bottom: 8px;

   font-size: var(--px-twelve);
   color: var(--clr-def-sec-txt);
   font-weight: 400;
   line-height: normal;
}

.podcasts-title {
   margin-bottom: 4px;

   font-size: var(--px-twenty);
   color: var(--clr-def-sec-txt);
   font-weight: 400;
   line-height: normal;
}

.podcasts-author {
   font-size: var(--px-sixteen);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;
}

/*  --- END - PODCASTS CONF. */
   /* --- START - SHOWS SECTION. */

   .shows-wrapper {
      width: 100%;
      margin-top: -30px;
      min-height: 550px;
   }

   .archive-wrapper {
      margin-right: 30px;
      justify-content: flex-end;
   }

   .archive-wrapper::before {
      content: '';
      top: 0;
      left: 0;
      width: 65px;
      height: 89px;
      margin-bottom: 24px;
      background: url(../assets/imgs/microphone-tvshows.jpg) no-repeat center center / contain ;
   }

   .archive-wrapper {
      flex-direction: column;
   }

   .archive-btn {
      width: 160px;
      padding: 17px 43px;
      margin-bottom: 12px;

      font-size: var(--px-sixteen);
      font-weight: 500;
      line-height: normal;
      text-align: center;
      color: var(--clr-def-sec-txt);

      background: var(--bg-main-clr);
      border-radius: 77px;
      border: 2px solid #121723;
   }

   .archive-btn-descr {
      width: 255px;
      color: var(--clr-additional-txt);

      font-size: var(--px-sixteen);
      font-weight: 400;
      line-height: 150%;
   }

   .tvshows-descr {
      font-size: var(--px-sixteen);
      font-weight: 400;
      line-height: 150%;
      color: var(--clr-additional-txt);
   }

   .tvshows-item img {
      /* display: block; */
      width: 100%;
      height: 148px;
   }

   .tvshows-sub-title {
      margin-bottom: 4px;

      font-size: var(--px-twenty);
      font-weight: 500;
      line-height: normal;
      color: var(var--clr-def-sec-txt);
   }

   .tvshows-descr {
      margin-bottom: 20px;

      font-size: var(--px-twelve);
      font-weight: 400;
      line-height: normal;
      color: #A1A6B4;
   }

   .tvshow-right-wrapper {
      min-height: 550px;
   }

   .tvshows-list {
      flex-wrap: wrap;
      gap: 30px;
      flex: 1 1 calc((100% - 30px) / 3);
   }

   .tvshows-link {
      font-size: var(--px-sixteen);
      color: var(--clr-def-sec-txt);
      font-style: italic;
      font-weight: 400;
      line-height: normal;
   }

   .tvshows-item-content {
      padding: 20px 0 20px 16px;
      border: 1px solid #E6E8EC;
   }

/*  --- END - PODCASTS CONF. */
   /* --- START - GUESTS SECTION. */

.guests {
   background-color: var(--clr-def-sec-txt);
}

.guests-title {
   margin-bottom: 12px;

   font-size: 48px;
   color: var(--clr-def-txt);
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.guests-title span {
   margin-bottom: 8px;

   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 700;
   line-height: 150%; /* 30px */
}

.guests-info-wrapper {
   flex-direction: column;
}

.guests-name {
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   color: var(--clr-def-txt);
   font-weight: 500;
   line-height: normal;
}

.guests-descr {

   color: var(--clr-additional-txt);
   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: 160%; /* 32px */
}

.guests-article {
   margin-bottom: 30px;
}

.guests-article-wrapper {
   gap: 30px;
}

.guests-btn {
   margin-top: auto;
   align-self: flex-start;
   padding: 0;
   padding: 17px 43px;

   text-align: center;
   font-size: var(--px-sixteen);
   color: #AA9DFA;
   font-weight: 500;
   line-height: normal;

   background-color: transparent;
   border-radius: 77px;
   border: 2px solid #AA9DFA;
}

/*  --- END - GUESTS SECTION. */
   /* --- START - PLAYLISTS SECTION. */

.playlists-title {
   margin-bottom: 12px;

   font-size: 48px;
   color: var(--clr-def-sec-txt);
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.playlists-left-side {
   max-width: 350px;
   margin-right: 30px;
   min-height: 746px;

   flex-direction: column;
}

.playlists-left-side span:nth-of-type(1) {
   margin-bottom: 6px;

   font-size: var(--px-sixteen);
   color: var(--clr-additional-txt);
   font-weight: 300;
   line-height: 22px; /* 137.5% */
}

.playlists-left-side span:nth-of-type(2) {
   width: 30px;
   height: 30px;
   padding: 5px;

   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;

   border-radius: 100px;
   border: 1px solid #A1A6B4;
}

.playlists-descl   {
   font-size: var(--px-sixteen);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: 22px; /* 137.5% */
}

.playlists-right-side {
   max-width: 730px;
}

.playlists-list {
   width: 100%;

   flex-wrap: wrap;
   gap: 30px;
   justify-content: flex-start;
}

.playlists-item {
   /* max-width: 160px;
   min-height: 224px; */

   width: calc(26% - 30px);
   line-height: 0;
}

.playlists-song-name-title {
   margin-bottom: 2px;

   font-size: var(--px-sixteen);
   color: var(--clr-def-sec-txt);
   font-weight: 500;
   line-height: normal;
}

.playlists-item-content {
   padding: 16px;
}

.playlists-item-content span {
   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;
}

/*  --- END - PLAYLISTS SECTION. */
   /* --- START - MARKET SECTION. */

.market {
   background: #292E39;
   min-height: 804px;
}

.market-wrapper {
   justify-content: space-between;
}

.market-left-side {
   width: 640px;
   height: 562px;

   background: url(../assets/imgs/markets-img.png) no-repeat center center;
   background-size: cover;
}

.market-right-side {
   max-width: 445px;
   min-height: auto;

   flex-direction: column;
}

.market-title {
   margin-bottom: ;

   font-size: 48px;
   color: #F0D288;
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.market-descr {
   margin-bottom: 12px;

   font-size: var(--px-sixteen);
   color: var(--clr-def-txt);

   font-weight: 400;
   line-height: 180%; /* 28.8px */
}

.market-right-side > :nth-child(3) {
   margin: 0;
   margin-bottom: 30px;
}

.market-right-side span {
   margin: 0;
   margin-bottom: 30px;

   font-size: 30px;
   color: var(--clr-def-txt);
   font-weight: 500;
   line-height: normal;
}

.market-btn {
   padding: 25px 13px;

   width: 300px;
   height: 70px;
   justify-content: center;
   align-items: center;
   text-align: center;


   font-size: var(--px-twenty);
   color: #F0D288;
   font-weight: 500;
   line-height: 100%; /* 20px */

   background-color: transparent;
   border-radius: 100px;
   border: 2px solid #F0D288;
}

/*  --- END - MARKET SECTION. */
   /* --- START - MARKET SECTION. */

   .about-us {
      min-height: 1293px;
      background-color: #121723;
   }

   .about-us-title {
      margin-bottom: 12px;

      font-size: 48px;
      color: var(--clr-def-txt);
      font-weight: 400;
      line-height: 100%; /* 48px */
   }

   .about-us-top-wrapper {
      gap: 30px;
   }

   .about-us-content {
      max-width: 634px;
   }

   .about-us-content b {
      margin-bottom: 8px;

      font-size: var(--px-twenty);
      color: var(--clr-additional-txt);
      font-weight: 700;
      line-height: 150%; /* 30px */
   }

   .about-us-content p {
      font-size: var(--px-twelve);
      color: var(--clr-additional-txt);
      font-weight: 400;
      line-height: 160%; /* 32px */
   }

   .about-us-right-side {
      width: 445px;
      height: 290px;
      background: url(../assets/imgs/about-us-spirals.png) no-repeat center center;
      background-size: 445px 290px;
      background-size: contain;
   }

   .about-us-item-title {
      margin-bottom: 8px;

      color: var(--clr-def-txt);
      font-size: var(--px-twenty);
      font-weight: 500;
      line-height: normal;
   }

   .about-us-item-descr {

      font-size: var(--px-sixteen);
      color: var(--clr-additional-txt);
      font-weight: 400;
      line-height: 24px; /* 150% */
   }

   .about-us-form {
      flex-direction: column;
      gap: 30px;
   }

   .about-us-inputs-wrapper {
      max-width: 920px;

      justify-content: space-between;
   }

   .about-us-textarea {
      padding: 30px 32px;


      max-width: 920px;
      min-height: 150px;

      color: var(--clr-additional-txt);
      font-size: var(--px-twenty);
      font-weight: 400;
      line-height: normal;

      resize: none;

      border-radius: 30px;
      background-color: transparent;
      border: 1px solid #FFF;
   }

   .about-us-input {
      padding: 25px 32px;
      width: 445px;
      max-width: 445px;
      min-height: 70px;

      color: var(--clr-additional-txt);
      font-size: var(--px-twenty);
      font-weight: 400;
      line-height: normal;

      border-radius: 40px;
      background-color: transparent;
      border: 1px solid #FFF;
   }

   .input-btn {
      align-self: flex-start;
   }

   .about-us-checkbox {
      align-self: flex-start;

      font-size: var(--px-twelve);
      color: var(--clr-def-txt);
      font-weight: 500;
      line-height: normal;
   }

   fieldset,
   legend {
      appearance: none;
   }

   .about-us-label {
      padding-left: 2em;

      font-size: var(--px-twelve);
      color: var(--clr-def-txt);
      font-weight: 500;
      line-height: normal;

      cursor: pointer;
   }

   .about-us-default-checkbox {
      position: absolute;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      z-index: -1;
   }

   .about-us-checkbox {
      position: absolute;
      width: 1em;
      height: 1em;
      border: 1px solid #FFF;
      margin-left: -2em;
   }

   .about-us-default-checkbox:checked + .about-us-checkbox::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background: url(../assets/icons/checkbox.svg) no-repeat center center;

   }
