/* # - START - FONTS CONFIGURATION */
   /* - FONTS Muller (woof and woof2) */

@font-face {
   font-family: 'Muller';
   src:local("MullerRegular"), local("MullerRegular"),
      url("/assets/fonts/MullerRegular.woff2") format('woff2'),
      url("/assets/fonts/MullerRegular.woff") format('woff');

   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* # - END - FONTS CONF. */
   /* & - RESET & BASIC STYLES */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

.btn-reset {
   padding: 0;

   border: none;
   background-color: transparent;

   text-align: center;
   cursor: pointer;
}

fieldset {
   border: none;
   margin: 0;
   padding: 0;
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

img,
svg {
   max-width: 100%;
}

.dflex {
   display: flex;
}

.title-reset,
.paragraph-reset {
   margin: 0;
   padding: 0;
}

.list-reset {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   list-style: none;
}

.section-offset {
   padding-top: 94px;
   padding-bottom: 93px;
}

:root {
   /* # -- BTN COLOR */
   --clr-btn: #6D31EE;

   /* # -- TXT COLOR */
   --clr-main-txt: #A1A6B4;
   --clr-def-txt: #FFF;
   --clr-def-sec-txt: #121723;
   --clr-additional-txt: #A1A6B4;

   /* # -- BGR COLOR */
   --bg-main-clr: #FFF;
   --bg-additional-clr: #E6E8EC;
   --bg-sec-additional-clr: #121723;

   /* # -- GAP */
   --gap-margin: 30px;
   --gap-offset: 97px;

   /* # -- FONTS  */
   --px-twelve: 12px;
   --px-sixteen: 16px;
   --px-twenty: 20px;
}

/*  --- END - RESET & BASIC STYLES */
   /*  --- START - COMMON STYLE CONF. */

body {
   min-width: 320px;

   font-family: 'Muller', Arial, Helvetica, sans-serif;
   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-def-sec-txt);
   line-height: normal;

   background-color: var(--bg-main-clr);
}

.container {
   max-width: 1150px;
   padding: 0 20px;
   margin: 0 auto;
}

.btn {
   display: inline-block;
   padding: 25px 54px;

   font-size: var(--px-twenty);
   font-weight: 500;
   line-height: normal;
   color: var(--clr-def-txt);

   background: #6D31EE;
   border-radius: 40px;
}

/*  --- END - COMMON STYLE CONF. */
   /* --- START - HEADER SECTION. */

.header-wrapper {
   padding: 34px 0 34px 0;

   align-items: center;
}

.header-logo__link {
   margin-right: 80px;
}

.header-logo__img {
   width: 160px;
   height: 20px;
   max-width: none;

   flex-shrink: 0;
   object-fit: contain;
}

.header-nav {
   font-size: var(--px-twenty);
}

.header-list {
   width: 100%;
   flex-grow: 1;
}

.header-list__item:not(:last-child) {
   margin-right: 59px;
}

.header-item__link {
   font-size: var(--px-twenty);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.header-form {
   margin-left: auto;
}

.header-form-btn svg {
   max-width: none;
}

/* --- END - HEADER SECTION. */
   /* --- START - HERO SECTION. */

.hero-wrapper {
   position: relative;
}

.hero-wrapper::after {
   position: absolute;
   content: '';
   right: 0;
   bottom: -50px;

   width: 350px;
   height: 372px;

   object-fit: contain;

   background: url(../assets/imgs/microphone-hero.jpg) no-repeat center right / 350px 372px;
   z-index: -1;
}

.hero-title {
   max-width: 635px;
   margin-bottom: 12px;

   font-size: 60px;
   font-weight: 700;
   line-height: 100%;
}

.hero-title__span {
   font-size: 60px;
   font-style: italic;
   font-weight: 400;
   line-height: 100%;
}

.hero-paragraph {
   max-width: 635px;
   margin-bottom: 45px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}

.hero-paragraph__strong {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
}

/*  --- END - HERO CONF. */
   /* --- START - PODCASTS SECTION. */

.podcasts-section {
   background-color: var(--bg-additional-clr);
}

.podcasts-title {
   margin: 0;
   margin-bottom: 30px;

   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.podcasts-list {
   flex-wrap: wrap;
   gap: 30px;

}

.podcasts-list-item {
   width: calc(50% - 15px);
   min-height: 140px;
   background-color: var(--bg-main-clr);
   line-height: 0;
}

.podcasts-list-item__left-wrapper {
   position: relative;
   max-width: 112px;
   height: 100%;
   object-fit: cover;
}

.podcasts-list-item__left-wrapper img {
   max-width: 112px;
   object-fit: cover;
}

.podcasts-list-item__date {
   position: absolute;
   padding: 3px 6px;

   bottom: 0;
   left: 0;

   font-size: 10px;
   font-weight: 400;
   line-height: normal;
   text-align: center;
   color: var(--clr-def-sec-txt);

   background-color: #E6E8EC;
}

.podcasts-list-item__right-wrapper {
   width: 100%;
   padding: 40px 30px;
}

.podcasts-list__time {
   display: inline-block;
   margin-bottom: 7px;

   font-size: var(--px-twelve);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.podcasts-list__title {
   margin-bottom: 4px;

   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.podcasts-list__author {
   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: normal;
   color: var(--clr-additional-txt);
}

/*  --- END - PODCASTS SECTION. */
   /* --- START - SHOWS SECTION. */

.tvshows-title {
   font-size: 48px;
   font-weight: 400;
   line-height: 100%; /* 48px */
   color: var(--clr-def-sec-txt);
}

.tvshows-wrapper {
   gap: 30px;
   margin-top: -35px;
   width: 100%;
   min-height: 550px;
}

.tvshows-archive-wrapper {
   max-width: 255px;
   justify-content: flex-end;
   flex-direction: column;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
   color: var(--clr-additional-txt);
}

.tvshows-archive-wrapper::before {
   content: '';
   top: 0;
   left: 0;
   width: 65px;
   height: 89px;
   margin-bottom: 23px;
   background: url(../assets/imgs/microphone-tvshows.jpg) no-repeat center center / contain ;
}

.tvshows-archive-wrapper__btn {
   max-width: 160px;
   padding: 12px 40px;
   margin-bottom: 12px;

   font-size: var(--px-sixteen);
   font-weight: 500;
   line-height: normal;
   text-align: center;
   color: var(--clr-def-sec-txt);

   background: var(--bg-main-clr);
   border-radius: 77px;
   border: 2px solid #121723;
}

.tvshows-archive-wrapper__descr {
   min-width: 255px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   line-height: 150%;
   color: var(--clr-additional-txt);
}

.tvshow-right-wrapper {
   min-height: 550px;
}

.tvshows-list {
   flex-wrap: wrap;
   gap: 30px;
}


.tvshows-list__item {
   flex: 1 1 calc((100% - 60px) / 3);
}



.tvshows-list__item img {
   display: block;
   width: 100%;
   height: 148px;
}



.tvshows-item__link {
   font-size: var(--px-sixteen);
   font-weight: 400;
   font-style: italic;
   line-height: normal;
   color: var(--clr-def-sec-txt);
}

.tvshows-item__content {
   padding: 20px 0 20px 16px;

   border: 1px solid #E6E8EC;
}

.tvshows-item__title {
   margin-bottom: 4px;

   font-size: var(--px-twenty);
   font-weight: 500;
   line-height: normal;
   color: var(var--clr-def-sec-txt);
}

.tvshows-item__descr {
   margin-bottom: 20px;

   font-size: var(--px-twelve);
   font-weight: 400;
   line-height: normal;
   color:var(--clr-additional-txt);
}

/*  --- END - PODCASTS CONF. */
   /* --- START - GUESTS SECTION. */

.guests {
   height: 1316px;
   min-height: 1316px;
   background-color: var(--clr-def-sec-txt);
}

.guests-title {
   margin-bottom: 12px;

   font-size: 48px;
   color: var(--clr-def-txt);
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.guests span {
   display: block;
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   color: var(--clr-additional-txt);
   font-weight: 700;
   line-height: 150%; /* 30px */
}

.guests-descr {
   max-width: 825px;
   margin-bottom: 50px;

   color: var(--clr-additional-txt);
   font-size: var(--px-twenty);
   font-weight: 400;
   line-height: 160%; /* 32px */
}

.guests-info-wrapper {
   flex-direction: column;
   max-width: 458px;
}

.guests-name {
   margin-bottom: 8px;

   font-size: var(--px-twenty);
   color: var(--clr-def-txt);
   font-weight: 500;
   line-height: normal;
}

.guests-article-descr {

   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-additional-txt);
   line-height: 180%; /* 28.8px */
}



.guests-article {
   margin-bottom: 50px;
}

.guests-article-wrapper {
   gap: 30px;
}

.guests-btn {
   margin-top: auto;
   align-self: flex-start;
   padding: 0;
   padding: 13px 18px;

   text-align: center;
   font-size: var(--px-sixteen);
   color: #AA9DFA;
   font-weight: 500;
   line-height: normal;

   background-color: transparent;
   border-radius: 77px;
   border: 2px solid #AA9DFA;
}

/*  --- END - GUESTS SECTION. */
   /* --- START - PLAYLISTS SECTION. */

.playlists-wrapper {
   min-height: 746px;
}


.playlists-title {
   margin-bottom: 12px;

   font-size: 48px;
   color: var(--clr-def-sec-txt);
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.playlists-left-side {
   max-width: 350px;
   margin-right: 30px;

   flex-direction: column;
}

.playlists-left-side span:nth-of-type(1) {
   margin-bottom: 6px;

   font-size: var(--px-sixteen);
   color: var(--clr-additional-txt);
   font-weight: 300;
   line-height: 22px; /* 137.5% */
}

.playlists-left-side span:nth-of-type(2) {
   width: 30px;
   height: 30px;
   padding: 7px;

   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;

   border-radius: 100px;
   border: 1px solid #A1A6B4;
}

.playlists-descl   {
   font-size: var(--px-sixteen);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: 22px; /* 137.5% */
}

.playlists-right-side {
   max-width: 730px;
}

.playlists-list {
   width: 100%;
   margin-top: 13px;

   flex-wrap: wrap;
   gap: 30px;
   justify-content: flex-start;
}

.playlists-item {
   /* max-width: 160px;
   min-height: 224px; */

   width: calc(26% - 30px);
   line-height: 0;
   border: 1px solid #E6E8EC;
}

.playlists-song-name-title {
   margin-bottom: 2px;

   font-size: var(--px-sixteen);
   color: var(--clr-def-sec-txt);
   font-weight: 500;
   line-height: normal;
}

.playlists-item-content {
   padding: 16px;
}

.playlists-item-content span {
   font-size: var(--px-twelve);
   color: var(--clr-additional-txt);
   font-weight: 400;
   line-height: normal;
}

/*  --- END - PLAYLISTS SECTION. */
   /* --- START - MARKET SECTION. */

.market {
   background: #292E39;
   min-height: 804px;
}

.market-wrapper {
   justify-content: space-between;
}

.market-left-side {
   width: 640px;
   height: 562px;

   background: url(../assets/imgs/markets-img.png) no-repeat center center;
   background-size: cover;
}

.market-right-side {
   position: relative;
   max-width: 445px;
   min-height: auto;

   flex-direction: column;
}

.market-title {
   margin-bottom: 50px;

   font-size: 48px;
   color: #F0D288;
   font-weight: 400;
   line-height: 100%; /* 48px */
}

.market-descr {
   margin-bottom: 12px;

   font-size: var(--px-sixteen);
   color: var(--clr-def-txt);

   font-weight: 400;
   line-height: 180%; /* 28.8px */
}


.market-title::after {
   content: '';
   position: absolute;
   top: 115px;
   right: 0;
   width: 445px;
   height: 12px;
   background-image: url(../assets/imgs/market-spiral.svg);
}


.market-right-side > :nth-child(3) {
   margin: 0;
   margin-bottom: 30px;
}

.market-right-side span {
   font-size: 30px;
   font-weight: 500;
   color: var(--clr-def-txt);
   line-height: normal;
}

.market-btn {
   margin-top: auto;
   padding: 25px 12px;

   width: 300px;
   height: 70px;
   justify-content: center;
   align-items: center;
   text-align: center;


   font-size: var(--px-twenty);
   color: #F0D288;
   font-weight: 500;
   line-height: 100%; /* 20px */

   background-color: transparent;
   border-radius: 100px;
   border: 2px solid #F0D288;
}

/*  --- END - MARKET SECTION. */
   /* --- START - MARKET SECTION. */

   .about-us {
      min-height: 1293px;
      background-color: #121723;
   }

   .about-us-title {
      margin-bottom: 12px;

      font-size: 48px;
      color: var(--clr-def-txt);
      font-weight: 400;
      line-height: 100%; /* 48px */
   }

   .about-us-top-wrapper {
      position: relative;
      gap: 30px;
   }

   .about-us-top-wrapper::after {
      content: '';
      position: absolute;
      top: -60px;
      right: 0;

      width: 445px;
      height: 290px;

      background: url(../assets/imgs/about-us-spirals.png) no-repeat center center;
   }

   .about-us-content {
      max-width: 634px;
   }

   .about-us-content b {
      display: inline-block;
      margin-bottom: 8px;

      font-size: var(--px-twenty);
      color: var(--clr-additional-txt);
      font-weight: 700;
      line-height: 150%; /* 30px */
   }

   .about-us-content p {
      margin-bottom: 30px;

      font-size: var(--px-twenty);
      color: var(--clr-additional-txt);
      font-weight: 400;
      line-height: 160%; /* 32px */
   }

   .about-us-item-title {
      margin-bottom: 8px;

      color: var(--clr-def-txt);
      font-size: var(--px-twenty);
      font-weight: 500;
      line-height: normal;
   }

   .about-us-item-descr {
      font-size: var(--px-sixteen);
      color: var(--clr-additional-txt);
      font-weight: 400;
      line-height: 24px; /* 150% */
   }

   .about-us-list {
      margin-bottom: 30px;
      gap: 30px;
      flex: 1 1 calc((100% - 60px) / 4);

   }

   .about-us-item {
      flex-direction: column;
      height: 360px;
      min-height: 360px;
   }

   .about-us-item picture {
      display: block;
      width: 255px;
      max-width: 255px;
      height: auto;
   }

   .about-us-item-img {
      object-fit: contain;
      margin-bottom: 30px;
   }


   .about-us-form {
      flex-direction: column;
      gap: 30px;
   }

   .about-us-inputs-wrapper {
      max-width: 920px;

      justify-content: space-between;
   }

   .about-us-textarea {
      padding: 30px 32px;


      max-width: 920px;
      min-height: 150px;

      color: var(--clr-additional-txt);
      font-size: var(--px-twenty);
      font-weight: 400;
      line-height: normal;

      resize: none;

      border-radius: 30px;
      background-color: transparent;
      border: 1px solid #FFF;
   }

   .about-us-input {
      padding: 25px 32px;
      width: 445px;
      max-width: 445px;
      min-height: 70px;

      color: var(--clr-additional-txt);
      font-size: var(--px-twenty);
      font-weight: 400;
      line-height: normal;

      border-radius: 40px;
      background-color: transparent;
      border: 1px solid #FFF;
   }

   .input-btn {
      align-self: flex-start;
   }

   .about-us-checkbox {
      align-self: flex-start;

      font-size: var(--px-twelve);
      color: var(--clr-def-txt);
      font-weight: 500;
   }

   .about-us-label {
      font-size: var(--px-twelve);
      color: var(--clr-def-txt);
      font-weight: 500;

      cursor: pointer;
   }

   .about-us-default-checkbox {
      position: absolute;
      width: 0;
      height: 0;

      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      z-index: -1;
   }

.about-us-checkbox {
   position: relative;
   display: inline-block;
   width: 14px;
   height: 14px;
   margin-right: 8px;
   vertical-align: sub;

   border: 1px solid #FFF;
}

.about-us-checkbox::before {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);

   width: 14px;
   height: 14px;


   transition: 0.2s ease-in-out;
   background-image: url(../assets/icons/checkbox.svg);
   background-size: contain;
   background-repeat: no-repeat;
}

.about-us-default-checkbox:checked +
.about-us-checkbox::before {
   transform: translate(-50%, -50%) scale(1);
}

.about-us-default-checkbox:focus +
.about-us-checkbox::before {

}



   /*  --- END - MARKET SECTION. */
      /* --- START - FOOTER SECTION. */

   footer {
      padding: 94px 0 10px 0;

      min-height: 323px;
      background-color: #292E39;
   }

   .footer-top-wrapper {
      min-height: 88px;

      margin-bottom: 95px;
      justify-content: space-between;
   }

   .social-media-wrapper {
      min-height: 65px;
      flex-direction: column;
   }

   .footer-logo-link {
      margin-bottom: 15px;
   }

   .social-media {
      gap: 20px;
   }

   .footer-nav {
      max-width: 488px;
   }

.footer-nav-list {
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 20px 109px;

   font-size: var(--px-sixteen);
   font-weight: 400;
   color: var(--clr-def-txt);
}

.footer-nav-item {
   min-width: 86px;
}

   .footer-bottom-wrapper {
      justify-content: center;
      align-items: center;

      color: var(--clr-main-txt);
      text-align: center;
      font-size: var(--px-sixteen);
      font-weight: 400;
      line-height: 103.336%; /* 16.534px */
   }

   .footer-bottom-wrapper::before {
      position: absolute;
      content: '';
      margin-bottom: 49px;
      width: 1539px;
      height: 24px;
      background: url(../assets/imgs/footer-wave-line.png) no-repeat center center;
      object-fit: contain;
   }
